<div class="newBatchWrapper">
    <div class="module ingredients">
        <form>
            <input type="text" ng-model="recipe.name" placeholder="Recipe name..."/>
            <input type="number" ng-model="recipe.batchSize" placeholder="Batch size..."/>
        </form>
        <div class="inputWrapper">
            <input id="grain" type="submit" ng-click="showGrainData()" value="Grain"/>
            <input id="hops" type="submit" ng-click="showHopsData()" value="Hops"/>
            <input id="yeast" type="submit" ng-click="showYeastData()" value="Yeast"/>
        </div>
        <div ng-show="recipe.name" class="recipe title">Title: {{ recipe.name }}</div>
        <div ng-show="yeastValues.abv" class="recipe abv">ABV: {{ yeastValues.abv }}</div>
        <div ng-show="grainValues.srm" class="recipe srm">SRM: {{ grainValues.srm }}</div>
        <div ng-show="hopsValues.ibu" class="recipe ibu">IBU: {{ hopsValues.ibu }}</div>
        <div ng-show="grainValues.og" class="recipe og">OG: {{ grainValues.og }}</div>
        <div ng-show="grainValues.fg" class="recipe fg">FG: {{ grainValues.fg }}</div>
        <label for="privateCheckbox">Private?
            <input type="checkbox" ng-model="recipe.isPrivate" ng-true-value="true" ng-false-value="false" id="privateCheckbox" class="privateBtn"/>
        </label>
        <input type="submit" value="Save" ng-click="saveRecipeToUser(recipe, recipe.isPrivate)" ng-if="grainValues.fg && recipe.name && currentUser" class="saveRecipeBtn"/>
    </div>
    <div class="module ingredientData">
        <input ng-show="showGrain" type="text" ng-model="ingredientFilter" placeholder="Filter grain..."/>
        <input ng-show="showGrain" type="number" ng-model="grain.amount" placeholder="Pounds of grain..."/>
        <input ng-show="showHops" type="text" ng-model="ingredientFilter" placeholder="Filter hops..."/>
        <input ng-show="showHops" type="number" ng-model="hops.boilTime" placeholder="Boil time..."/>
        <input ng-show="showYeast" type="text" ng-model="ingredientFilter" placeholder="Filter yeast..."/>
        <edit-recipe ng-show="showGrain" ingredient-type="grains" ingredient="grain" ng-repeat="grain in grainInDb | filter:{name: ingredientFilter}"></edit-recipe>
        <edit-recipe ng-show="showHops" ingredient-type="hopss" ingredient="hops" ng-repeat="hops in hopsInDb | filter:{name: ingredientFilter}"></edit-recipe>
        <edit-recipe ng-show="showYeast" ingredient-type="yeasts" ingredient="yeast" ng-repeat="yeast in yeastInDb | filter:{name: ingredientFilter}"></edit-recipe>
    </div>
    <div class="module recipeData">
        <div class="recipe ingredients">
            <div ng-repeat="grain in grainInRecipe" class="ingredient grain">{{grain.name}}<span ng-click="removeGrain($index)" class="remove"> <i class="fa fa-trash-o"></i></span></div>
            <div ng-repeat="hops in hopsInRecipe" class="ingredient hops">{{hops.name}}<span ng-click="removeHops($index)" class="remove"> <i class="fa fa-trash-o"></i></span></div>
            <div ng-repeat="yeast in yeastInRecipe" class="ingredient yeast">{{yeast.name}}<span ng-click="removeYeast($index)" class="remove"> <i class="fa fa-trash-o"></i></span></div>
        </div>
    </div>
</div>