<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s8">
        <label for="name">Recipe Name</label>
        <input type="text" id="name" class="validate" ng-model="recipe.name"/>
      </div>
      <div class="input-field col s4">
        <input type="number" id="batchSize" ng-model="recipe.batchSize"/>
        <label for="batchSize">Batch Size</label>
      </div>
    </div>

    <div class="row">

      <div class="chip" ng-repeat="grain in cnt.recipe.grain">{{grain.grain.name}} Amount: {{grain.amount}}
        <i class="close material-icons">close</i></div>
      <div class="chip" ng-repeat="hops in hopsInRecipe">{{hops.hops.name}}</div>
    </div>

  </form>
</div>

<a id="grain" class="waves-effect waves-light btn light-blue lighten-1" ng-click="cnt.showGrainData()">Grain</a>
<a id="hops" class="waves-effect waves-light btn light-blue lighten-1" ng-click="cnt.showHopsData()">Hops</a>
<a id="yeast" class="waves-effect waves-light btn light-blue lighten-1" ng-click="cnt.showYeastData()">Yeast</a>


<div ng-show="cnt.recipe.name" class="recipe title">Title: {{ recipe.name }}</div>
<div ng-show="cnt.recipe.abv" class="recipe abv">ABV: {{ yeastValues.abv }}</div>
<div ng-show="cnt.recipe.srm" class="recipe srm">SRM: {{ grainValues.srm }}</div>
<div ng-show="cnt.recipe.ibu" class="recipe ibu">IBU: {{ hopsValues.ibu }}</div>
<div ng-show="cnt.recipe.og" class="recipe og">OG: {{ grainValues.og }}</div>
<div ng-show="cnt.recipe.fg" class="recipe fg">FG: {{ grainValues.fg }}</div>



<p>
  <input type="checkbox" class="with-gap" ng-model="cnt.recipe.isPrivate" ng-true-value="true" ng-false-value="false"
         id="privateCheckbox"/>
  <label for="privateCheckbox">Private?</label>
</p>

<div class="row" ng-if="cnt.ingredientToShow.name == 'grain'">

  <div class="input-field col s6">
    <input id="grainFilter" type="text" ng-model="ingredientFilter"/>
    <label for="grainFilter">Filter grain</label>
  </div>

  <div class="input-field col s6">
    <input id="pounds" type="number" ng-model="grain.amount"/>
    <label for="pounds">How much?</label>
  </div>

</div>

<div class="row" ng-if="cnt.ingredientToShow.name == 'hops'">

  <div class="input-field col s4">
    <input id="hopsFilter" type="text" ng-model="ingredientFilter"/>
    <label for="hopsFilter">Filter hops</label>
  </div>

  <div class="input-field col s4">
    <input id="hopsAmount" type="number" ng-model="hops.amount">
    <label for="hopsAmount">How much?</label>
  </div>

  <div class="input-field col s4">
    <input id="boilTime" type="number" ng-model="hops.boilTime"/>
    <label for="boilTime">Boil time</label>
  </div>

</div>


<div class="input-field" ng-show="cnt.ingredientToShow.name == 'yeast'">
  <input id="yeastFilter" type="text" ng-model="ingredientFilter"/>
  <label for="yeastFilter">Filter yeast</label>
</div>

<ul class="collection" ng-show="cnt.ingredientToShow.name">
    <li class="collection-item" ng-repeat="ingredient in cnt.ingredientToShow.arr">{{ingredient.name}}</li>
</ul>

