<div class='row'>
	<form class='col s12' name='batchForm' form-update novalidate>
		<div class='row'>
			<div class='input-field col s7'>
				<label for='name'>Recipe Name</label>
				<input type='text' id='name' class='validate' ng-model='cnt.recipe.name' required />
			</div>
			<div class='input-field col s3'>
				<label for='batchSize'>Batch Size</label>
				<input type='number' id='batchSize' ng-model='cnt.recipe.size' min='1' required />
			</div>
			<div class='input-field col s2'>
				<input type='checkbox' class='with-gap' ng-model='cnt.recipe.isPrivate' ng-true-value='true'
				       ng-false-value='false' id='privateCheckbox' />
				<label for='privateCheckbox'>Private?</label>
			</div>

		</div>

		<div class='row' ng-show='cnt.recipeHasIngredients'>

			<ul class='collapsible' data-collapsible='accordion' collapse>
				<li ng-if='cnt.recipe.grain.length'>
					<div class='collapsible-header'>
						<span class='new badge' data-badge-caption=''>{{cnt.recipe.grain.length}}</span>
						<i class='material-icons'>list</i>Grain
					</div>
					<div class='collapsible-body'
					     ng-repeat='grain in cnt.recipe.grain'><p>{{grain.amount}}lbs {{grain.name}}</p></div>
				</li>
				<li ng-if='cnt.recipe.hops.length'>
					<div class='collapsible-header'><i
							class='material-icons'>list</i>Hops
					</div>
					<div class='collapsible-body' ng-repeat='hops in cnt.recipe.hops'><p>{{hops.amount}}oz
					                                                                     {{hops.boilTime}}mins{{hops.name}}</p>
					</div>
				</li>
				<li ng-if='cnt.recipe.yeast.length'>
					<div class='collapsible-header'><i
							class='material-icons'>list</i>Yeast
					</div>
					<div class='collapsible-body' ng-repeat='yeast in cnt.recipe.yeast'><p>{{yeast.name}}</p></div>
				</li>
			</ul>

		</div>

	</form>
</div>

<a id='grain' class='waves-effect waves-green btn light-blue lighten-1' ng-click='cnt.showGrainData()'>Grain</a>
<a id='hops' class='waves-effect waves-light btn light-blue lighten-1' ng-click='cnt.showHopsData()'>Hops</a>
<a id='yeast' class='waves-effect waves-light btn light-blue lighten-1' ng-click='cnt.showYeastData()'>Yeast</a>

<div class='row' ng-if="cnt.ingredientToShow.name == 'grain'">

	<div class='input-field col s6'>
		<input id='grainFilter' type='text' ng-model='ingredientFilter' />
		<label for='grainFilter'>Filter grain</label>
	</div>

	<div class='input-field col s6'>
		<input id='pounds' type='number' ng-model='cnt.grain.amount' />
		<label for='pounds'>How much?</label>
	</div>

</div>

<div class='row' ng-if="cnt.ingredientToShow.name == 'hops'">

	<div class='input-field col s4'>
		<input id='hopsFilter' type='text' ng-model='ingredientFilter' />
		<label for='hopsFilter'>Filter hops</label>
	</div>

	<div class='input-field col s4'>
		<input id='hopsAmount' type='number' ng-model='cnt.hops.amount'>
		<label for='hopsAmount'>How much?</label>
	</div>

	<div class='input-field col s4'>
		<input id='boilTime' type='number' ng-model='cnt.hops.boilTime' />
		<label for='boilTime'>Boil time</label>
	</div>

</div>


<div class='input-field' ng-if="cnt.ingredientToShow.name == 'yeast'">
	<input id='yeastFilter' type='text' ng-model='ingredientFilter' />
	<label for='yeastFilter'>Filter yeast</label>
</div>

<ul class='collection' ng-show='cnt.ingredientToShow.name'>
	<li class='collection-item hoverable' ng-repeat='ingredient in cnt.ingredientToShow.arr'
	    ng-click='cnt.addIngredient(ingredient)'>
		{{ingredient.name}}
			<i class='material-icons tooltipped' info={{ingredient.name}}
	                                             tooltip>info_outline</i>
	</li>
</ul>